# hdvfhdvfhd

In [1]:
print("helloworld")

helloworld

In [2]:
print("rez")

rez

# varaibles

In [3]:
name="latha"
age=25
income=10000

In [4]:
print(name)
print(age)
print(income)

latha
25
10000

In [5]:
namelist="latha","prema"
name list

SyntaxError: invalid syntax (3446795571.py, line 2)

### space not allowed

In [6]:
2namelist="latha"
2namelist

SyntaxError: invalid decimal literal (937686014.py, line 1)

#### varaible name should not start with number

In [9]:
n2amelist="rez"
name list

SyntaxError: invalid syntax (541162396.py, line 2)

In [11]:
name="garry"
name="rogger"
print(name)

rogger

In [12]:
x=y=z=10
print(x)

10

In [13]:
print(y)

10

In [14]:
x,y,z=1,2,3
print(x)

1

In [15]:
print(y)

2

In [16]:
name="charles"
print(name)
type(name)

charles

str

In [17]:
x=10
y=10.5
x-y

-0.5

In [18]:
x=10
y="ds"
x-y

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [19]:
x=10.5
y=10
x-y

0.5

#day 2

## operators

### arithmatic operator

In [7]:
first_name="rezaul"
second_name="haque"
full_name=first_name+second_name
full_name

'rezaulhaque'

In [1]:
x=10
y=5
x+y

15

In [2]:
x=10
y=5
z=x+y
z

15

In [3]:
x=10
y=5
z=x-y
z

5

In [4]:
x=10
y=5
z=x*y
z

50

In [8]:
first_name="rezaul"
second_name="haque"
full_name=first_name*second_name
full_name

TypeError: can't multiply sequence by non-int of type 'str'

In [11]:
text="my age is "
age="22"
result=text+age
result

'my age is 22'

In [12]:
x=27
y=3
z=x//y
z

9

In [13]:
x=27
y=4
z=x//y
z

6

## floor division it eturn quetient ekse it returnt zero

### relational operator

In [14]:
x=25
y=30
x>y

False

In [15]:
x=25
y=30
x<y

True

In [16]:
x=25
y=30
x==y

False

In [17]:
x=25
y=30
x!=y

True

In [18]:
x=25
y=30
x>=y

False

In [19]:
x=25
y=30
x<=y

True

### logical operators

In [20]:
is_student=True
in_college=True
in_school=False

In [21]:
is_student and in_college

True

In [22]:
is_student and in_school

False

In [23]:
is_student or in_college

True

In [24]:
is_student or in_school

True

In [25]:
in_school or in_school

False

In [26]:
not(in_college)

False

### membership operator

In [28]:
vowels="aeiou"
print("u" in vowels)

True

In [29]:
### assignment operators

In [30]:
a=4
b=3
a=a+b
a

7

In [31]:
a=4
b=3
a+=b
a

7

In [32]:
a=4
b=3
a-=b
a

1

In [33]:
a=4
b=3
a*=b
a

12

In [34]:
a=4
b=3
a%=b
a

1

In [35]:
a=4
b=3
a**=b
a

64

## conditional statement

In [40]:
num=5
if(num>0):
    print(num,"is greater than zero")

5 is greater than zero

In [41]:
num=5
if(num<0):
    print(num,"is greater than zero")

In [49]:
age=int(input("enter age:"))
if(0<age<3):
    print("no fares for age group 0-3")
elif(3<age<10):
        print("bus fare is 10") 
elif(10<age<20):
        print("bus fare is 20")  
else:                       
     print("bus fare is 30")

enter age:20
bus fare is 30